@import "../../styles/colors.scss";
@import "../../styles/fontsize.scss";
@import "../../styles/common.scss";

section#products {
    margin-left: 16px;
   margin-top: 40.88px;
   width:608px;
  

   h1 {
    font-family:$font_family_opensans-regular;
    font-style: normal;
    font-weight: normal;
    font-size: $font_size_20;
    line-height: $line_height_26;
    letter-spacing: 0.25px;
    color: $dark_grey_color;
  }
}